[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://data.pyg.org/whl/"
verify_ssl = true
name = "pyg"

[packages]
torch = "2.3.0"
torchvision = "*"
torchaudio = "2.3.0"
torch-scatter = {file = "https://data.pyg.org/whl/torch-2.3.0%2Bcu121/torch_scatter-2.1.2%2Bpt23cu121-cp311-cp311-linux_x86_64.whl"}
torch-sparse = {file = "https://data.pyg.org/whl/torch-2.3.0%2Bcu121/torch_sparse-0.6.18%2Bpt23cu121-cp311-cp311-linux_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.11"
